hr{

    border: 2px solid  rgb(248, 241, 241);
    border-radius: 0;
    margin: 0;
}

.photos{
    display: inline-block;
    padding: 0;
}

.photos li{
    list-style: none;
}

.photos li img{
    align-self: center;
    margin-left: 33.3%;
    width: 33.3%;
}

.photos li video{
    align-self: center;
    margin-left: 33.3%;
    width: 33.3%;
}

li{
    display: inline
}

li image{
  float: left;
  
}

li h4{

    text-align: center;
    font-family: 'Tangerine', cursive;
}



li .photo-title{
    font-size: 3rem;
    width: 60%;
    height: 3.5rem;
    margin: 0 20%;
    color: rgb(248, 241, 241);

}

li p{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    width: 33.3%;
    height: auto;
    margin: 0 33.3%;
    color: rgb(229, 124, 35);
}


.photo-container{
    background-color: rgb(2, 84, 100);
}




li p{
    text-align: center;
}
@media screen and (max-width: 420px ) {

*{
    margin: 0;
    padding: 0;
}
.photos li img{
    align-self: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.photos li video{
    align-self: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

li p{
    font-size: 1rem;
    width: 80%;
    height: auto;
    margin: 0 10%;
    color: rgb(229, 124, 35);
}

}







@media screen and (max-width: 863px) {
    li .photo-title{
        font-size: 2rem;
        width: 90%;
        height: 2.5rem;
        margin: 0 5%;
        color: rgb(248, 241, 241);
    
    }




}


@media screen and (max-width: 465px) {

    li .small{
        height: 4rem; 
     }
}
    
